/*==========  section  ==========*/
footer {
  background: linear-gradient(87.24deg, #1D9BD7 4.6%, #007CB7 95.4%);
  color: #fff;
  padding: 56px 0 89px; }

/*==========  section end  ==========*/
/*==========  section  ==========*/
/*==========  section end  ==========*/
