@import "vars"

/*==========  section home ==========*/
.home
  background: linear-gradient(253.32deg, #1D9BD7 0%, #007CB7 100%)
  color: #fff
  position: relative

.home-slider
  .slide
    position: relative
    z-index: 1
  &__img
    position: absolute
    z-index: -1
    left: 0
    top: 0
    height: 100%
    max-width: 1307px
    width: calc(100% - 450px)
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden
    img
      width: 100%
      height: 100%
      object-fit: cover
  &__content
    margin: 123px 0 138px auto
    max-width: 550px
    .btn
      margin: 37px 119px 0 auto

  &__title
    font-size: 50px
    font-weight: bold
    span
      display: block
      position: relative
      z-index: 1
      &:before
        content: ''
        position: absolute
        left: 0
        bottom: 5px
        width: 100%
        z-index: -1
        background: #1D9BD7
        height: 15px
  &__nav
    position: absolute
    bottom: 30px
    left: 50%
    transform: translate(-50%,0)
    max-width: 1430px
    padding: 0 15px
    width: 100%
    .slick-dots
      margin: 0 82px 0 auto


/*==========  section home end  ==========*/



/*==========  section about ==========*/
.about
  margin: 73px 0 97px

.advantages-in-number
  width: 100%
  display: flex
  align-items: flex-start
  justify-content: space-between
  flex-wrap: wrap
  margin: 29px 0 36px
  border: 2px solid #1D9BD7
    radius: 20px
  padding: 25px 10px 33px 25px
  &__item
    color: $accent
    font-weight: bold
    flex: 1
    &:first-child
      max-width: 120px
    &:nth-child(2)
      max-width: 135px
    &:nth-child(3)
      max-width: 200px
    &:last-child
      max-width: 140px
    &-number
      font-size: 50px
      line-height: 60px

.foundation-projects
  h3
    margin: 0 0 20px
    text-transform: uppercase
    color: #444444
    font-size: 20px
    font-weight: bold

.foundation-projects-wrapper
  width: 100%
  display: flex
  align-items: stretch
  flex-wrap: wrap
  justify-content: space-between

.foundation-projects-box
  width: 218px
  min-height: 146px
  display: flex
  align-items: stretch
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1)
  background: #fff
  border-radius: 20px
  padding: 17px 12px 14px 13px
  font-size: 12px
  color: #414042
  &__icon
    @include d-flex
    width: 35px
    margin: 0 0 auto
    img
      filter: drop-shadow(0px 10px 20px rgba(255, 186, 0, 0.75))
  &__content
    width: calc(100% - 35px)
    padding: 0 0 0 20px
    display: flex
    flex-direction: column
    p
      margin: 8px 0 13px
  .links-accent
    margin: auto 0 0
  h4
    text-transform: uppercase
    font-weight: bold
    max-width: 120px

.about-photo
  position: relative
  overflow: hidden
  @include d-flex
  height: 589px
  width: 100%
  max-width: 676px
  margin: 0 0 0 auto
  border-radius: 20px
  img
    width: 100%
    height: 100%
    object-fit: cover
  &__head
    width: 100%
    position: absolute
    top: 24px
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    padding: 0 28px

.logo-company
  max-width: 175px
  @include d-flex

/*==========  section about end  ==========*/



/*==========  section kids-help ==========*/
.kids-help
  margin: 0 0 127px
  position: relative
  z-index: 1
  &:before, &:after
    content: ''
    position: absolute
    width: 1358px
    height: 1358px
    opacity: .5
    z-index: -1
  &:before
    top: -239px
    left: -858px
    background: radial-gradient(50% 50% at 50% 50%, #FFBA00 0%, rgba(255, 186, 0, 0) 100%)
  &:after
    top: -303px
    right: -607px
    background: radial-gradient(50% 50% at 50% 50%, #1D9BD7 0%, rgba(29, 155, 215, 0) 100%)
  h2
    margin: 0 0 24px

.kids-card
  width: 100%
  height: 100%
  background: #ffff
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1)
  border-radius: 20px
  padding: 20px 20px 24px
  color: #414042
  display: flex
  flex-direction: column
  font-size: 14px
  &__photo
    width: 100%
    height: 237px
    border-radius: 10px
    overflow: hidden
    img
      width: 100%
      height: 100%
      object-fit: cover
  &__name
    margin: 24px 0 16px
    text-transform: uppercase
    font-weight: bold
  &__diagnosis
    margin: 0 0 30px
    max-width: 270px
  .btn
    margin: auto 0 0
    padding: 4px 20px


.btn-toggle
  margin: 48px auto 0

/*==========  section kids-help end  ==========*/



/*==========  section kids-in-line ==========*/
.kids-in-line
  margin: 0 0 35px
  h2
    margin: 0 0 20px
    max-width: 585px

.kids-in-line__photo
  border-radius: 20px
  @include d-flex
  width: 100%
  height: 257px
  overflow: hidden
  img
    width: 100%
    height: 100%
    object-fit: cover



/*==========  section kids-in-line end  ==========*/



/*==========  section help ==========*/
.help
  margin: 0 0 135px
  h2
    margin: 0 0 7px
    color: $accent

.subtext
  color: $accent
  font-size: 24px
  margin: 0 0 25px


.form-help
  width: 100%
  h4
    margin: 0 0 14px
    font-size: 18px
    color: #414042
  .links-accent
    font-weight: normal
    font-size: 14px
    margin-left: 15px
  button
    height: 59px
    border-radius: 30px
    padding: 10px 48px
  .button-wrapper
    margin-left: 59px
  .consent
    margin: 20px auto 0

.form-box
  margin: 0 0 20px
  &:last-child
    margin: 0

.form-row
  display: flex
  align-items: center
  flex-wrap: wrap
  .radio
    margin: 0 29px 10px 0
    &:last-child
      margin: 0 0 10px

.radio
  z-index: 1
  border-radius: 10px
  display: flex
  align-items: center
  justify-content: center
  position: relative
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05)
  width: fit-content
  cursor: pointer
  color: #414042
  font-size: 16px
  padding: 11px 18px

.input-radio
  position: absolute
  z-index: -1
  width: 100%
  height: 100%
  transition: .3s ease
  padding: 0
  background: #fff
  border: none
    radius: 10px
  &:checked
    background: $accent
    ~.radio-text
      color: #fff

.radio-icon
  @include d-flex
  width: 38px
  height: 32px
  img
    max-height: 100%

.radio-payment
  width: 74px
  height: 74px

.form-help__footer
  margin: 30px 0 0
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  .checkbox
    margin: 10px 0 0

.consent
  color: #FFBA00
  font-size: 10px
  line-height: 12px
  max-width: 186px

.checkbox
  display: flex
  align-items: center
  width: fit-content
  font-size: 16px
  color: #414042
  cursor: pointer

.input-check
  display: none
  &:checked
    ~ .checkbox-custom
      background: #FFBA00

.checkbox-custom
  margin: 0 17px 0 0
  width: 29px
  height: 29px
  min-width: 29px
  border: 3px solid #FFBA00
    radius: 50%

.help-wrapper
  width: 100%
  background: #fff
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1)
  border-radius: 20px
  padding: 25px 20px 30px 23px
  position: relative
  margin: 20px 0 0
  h3
    margin: 0 0 23px
    text-transform: uppercase
    font-size: 20px
    font-weight: bold
    color: #FFBA00

.help-slider-card
  width: 100%
  display: flex
  align-items: stretch
  color: #414042
  &__photo
    @include d-flex
    width: 294px
    height: 300px
    border-radius: 10px
    overflow: hidden
    img
      width: 100%
      height: 100%
      object-fit: cover
  &__description
    width: calc(100% - 294px)
    padding: 0 0 0 37px
    display: flex
    flex-direction: column
  h4

    font-size: 24px
    font-weight: bold
    text-transform: uppercase
  .diagnosis
    max-width: 225px

.sum-help
  color: $accent
  margin: 40px 0 auto
  &__value
    font-size: 48px
    font-weight: bold


.help-share
  width: 100%
  padding: 0 100px 0 0

.link-social
  display: flex
  align-items: center
  color: $accent
  font-size: 12px
  font-weight: 500
  line-height: 14px
  &:hover
    color: $text
  &__icon
    @include d-flex
    width: 22px
    height: 13px
    fill: $accent
    margin: 0 10px 0 0
  &__text
    max-width: 70px

.help-slider__nav
  position: absolute
  right: 20px
  bottom: 30px
  .slick-arrow
    border-color: $accent
    stroke: $accent
    &:hover
      stroke: #fff
      background: linear-gradient(93.34deg, #1D9BD7 5.44%, #007CB7 95.22%)
      box-shadow: 0px 10px 20px rgba(29, 155, 215, 0.25)
/*==========  section help end  ==========*/


/*==========  section events ==========*/
.events
  h2
    width: fit-content
    margin: 0 42px 0 0

.events-card
  width: 100%
  height: 100%
  border:
    radius: 20px
  background: #fff
  color: #414042
  overflow: hidden
  position: relative
  z-index: 1
  &:before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    border: 2px solid #1D9BD7
      radius: 20px
    z-index: -1
  &__image
    width: 100%
    border-radius: 0 0 20px 20px
    overflow: hidden
    height: 246px
    @include d-flex
    img
      width: 100%
      height: 100%
      object-fit: cover
  &__body
    width: 100%
    height: calc(100% - 246px)
    padding: 21px 23px 23px
    display: flex
    flex-direction: column

  &__date
    font-size: 14px
    color: $accent
  &__title
    margin: 12px 0
    text-transform: uppercase
    color: #414042
    font-size: 18px
    font-weight: bold
    max-width: 280px
    &:hover
      color: $accent
  .box-text
    max-width: 380px
    font-size: 12px
    line-height: 14px
    margin: 0 0 18px
  .btn
    margin: auto 0 0
    padding: 4px 20px

.events-slider
  .slick-slide
    padding: 0 10px
    height: auto
    >div
      height: 100%
  .slick-list
    margin: 0 -10px
  .slick-track
    display: flex
    align-items: stretch


.events-slider__nav
  justify-content: flex-end
  margin-left: auto
  .slick-arrow
    stroke: #FFBA00
    border-color: #FFBA00
    &:hover
      stroke: #fff
      box-shadow: 0px 10px 20px rgba(255, 186, 0, 0.25)

/*==========  section events end  ==========*/



/*==========  section history ==========*/
.history
  margin: 70px 0 55px
  h2
    margin: 0

/*==========  section history end  ==========*/


/*==========  section page ==========*/
.page
  margin: 35px 0 60px

.page-image
  @include d-flex
  border-radius: 10px
  overflow: hidden
  img
    width: 100%

.text-description
  font-size: 18px
  p
    margin: 0 0 25px
    &:last-child
      margin: 0

.date
  margin: 0 0 19px
  color: $accent
  font-weight: bold

.image
  overflow: hidden
  @include d-flex
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 35.92%)
  border-radius: 10px
  height: 399px
  img
    width: 100%
    height: 100%
    object-fit: cover

.news
  margin: 100px 0

.kids-in-line__info
  width: 100%
  height: 100%
  background: #fff
  border: 2px solid #1D9BD7
    radius: 20px
  padding: 34px 60px 54px 50px
  h4
    text-transform: uppercase
    font-size: 36px
    font-weight: bold
    color: $accent
    margin: 0 0 20px
/*==========  section page end  ==========*/

